:root {
    --text-color: #373737;
    --dark-green: #314C3F;
    --medium-green: #8E9685;
    --light-green: #C6CAC3;
    --medium-beige: #D4B6AA;
    --light-beige: #F8F7F6;
    --light-brown: #D5CCC2;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Gilda Display', serif;
    color: var(--text-color);
    max-width: 100vw;
    overflow-x: hidden;
}

p,
ul {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

h2 {
    font-size: 34px;
    letter-spacing: 0.5px;
}

h3 {
    font-size: 24px;
    letter-spacing: 0.25px;
}

a {
    text-decoration: none;
    transition-duration: 1s;
    padding-bottom: 5px;
    border-bottom: #314c3f00 1px solid;
    color: var(--text-color);
}

a:hover {
    color: var(--dark-green);
    font-weight: bolder;
    text-shadow: 1px 1px 2px var(--light-green);
    border-bottom: #314C3F 1px solid;
    transition-duration: .4s;
}


/*Banner*/

#banner {
    background-color: #314C3F;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 8px;
}

#banner>* {
    height: fit-content;
    font-size: smaller;
}

button,
input[type=button],
input[type=submit] {
    background-color: var(--medium-green);
    color: white;
    padding: 6px 8px;
    margin-left: 10px;
    border: none;
}


/*Header*/

#navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

#socialIconContainer {
    display: flex;
    justify-content: space-around;
    width: 15vw;
}

#socialIconContainer>img {
    width: 18px;
    height: 18px;
    margin: auto;
}

#navContainer>nav {
    width: 40vw;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

#searchInputContainer {
    width: 15vw;
}

#searchInputContainer>input {
    border: none;
    border-bottom: solid 1px black;
}


/*Title*/

header {
    padding: 0 5vh 0 5vh;
    text-align: center;
    font-size: 38px;
    font-weight: lighter;
    text-transform: lowercase;
}


/*Articles gallery*/

.articlesGallery {
    display: flex;
    justify-content: center;
    gap: 4vh;
    padding: 0 30vh 10vh 30vh;
}

.cardWithText {
    position: relative;
}

.cardWithText>img {
    width: 100%;
    height: auto;
}

.cardWithText>div {
    position: absolute;
    left: 2vh;
    bottom: 2vh;
    right: 2vh;
    background-color: white;
    text-align: center;
    padding: 0 7px 0 7px;
}


/**/

#emailListSection {
    background-color: var(--light-beige);
    text-align: center;
    padding: 40px 40px 60px;
}

#emailListSection>form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#emailListSection input {
    border: none;
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 25px;
    margin-right: 10px;
    width: 15%;
}

#emailListSection input[type="button"] {
    color: white;
    font-family: 'Gilda Display', serif;
    font-size: 1.1em;
}


/**/

#articlesPreview {
    padding: 100px 0;
    margin: auto;
    width: 50vw;
}

#articlesPreview>.article {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 50px;
    margin: 40px auto;
}

#articlesPreview>.article:nth-child(2n) {
    text-align: right;
}

#articlesPreview>.article>div {
    grid-column: span 2;
}

#articlesPreview>.article>img {
    max-width: 100%;
}

#articlesPreview>.article>div>p:nth-child(2n+1) {
    line-height: 1.75;
    letter-spacing: 0.25px;
}

#articlesPreview>.article>div>.date {
    font-size: 14px;
}

#articlesPreview>.article>div>button {
    font-family: 'Gilda Display', serif;
    text-transform: lowercase;
    font-weight: normal !important;
    font-size: 18px;
    padding: 15px 40px;
    margin-top: 30px;
}


/**/

#latestNews {
    text-align: center;
    background: linear-gradient(180deg, #e7e2dc 0%, #e7e2dc 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

#latestNews>h2 {
    padding: 50px 0 20px 0;
}

#latestNews>.articlesGallery>.cardWithText {
    border: 7px solid white;
}


/**/

#separator {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#separator>.line {
    border: var(--light-green) 1px solid;
    width: 70vw;
    margin: 4px auto 4px auto;
}


/**/

#sectionGridGallery {
    text-align: center;
    padding-bottom: 80px;
}

#gridGalleryArticles {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    gap: 40px;
}

#gridGalleryArticles>div>img {
    max-width: 100%;
}

#gridGalleryArticles>div>h3 {
    padding: 0 10px 0 10px;
}


/**/

#formContact {
    background-color: var(--light-green);
    padding: 2vw 15vw 2vw 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    text-align: center;
}

#formContact>form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#formContact>form>input {
    border: none;
    margin: 5px 0 5px 0;
    min-width: 20vw;
    padding: 10px;
}

#formContact>form>input[type="submit"] {
    font-family: 'Gilda Display', serif;
}


/**/

#photoGallery {
    display: flex;
    width: 100%;
    height: 25vh;
    margin: 4vh 0 4vh 0;
}

#photoGallery>div {
    width: calc(100vw / 7);
    /* background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/2020/06/ellieelien-i3A_RwLJKeo-unsplash.jpg"); */
    background-size: cover;
    background-color: #314C3F;
}

#photoGallery>div:nth-child(1) {
    background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/2020/06/ellieelien-i3A_RwLJKeo-unsplash.jpg");
    background-position: top center;
}

#photoGallery>div:nth-child(2) {
    background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/2020/06/ellieelien-UCDPI_GSzDI-unsplash.jpg");
    background-position: bottom center;
}

#photoGallery>div:nth-child(3) {
    background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/2020/06/ellieelien-MvPFcddYDDQ-unsplash.jpg");
    background-position: bottom center;
}

#photoGallery>div:nth-child(4) {
    background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/2020/06/ellieelien-ZDuqRrF9-k0-unsplash.jpg");
    background-position: center center;
}

#photoGallery>div:nth-child(5) {
    background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/2020/06/ellieelien-ZooZkPkA7Xs-unsplash.jpg");
    background-position: center center;
}

#photoGallery>div:nth-child(6) {
    background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/2020/06/ellieelien-e3JqeYbTr30-unsplash.jpg");
}

#photoGallery>div:nth-child(7) {
    background-image: url("http://june.codedcreative.co/wp-content/uploads/sites/17/sb-instagram-feed-images/116697690_183625963185506_111001070953283757_nlow.jpg");
}


/**/

#amazonBanner {
    background-color: var(--medium-beige);
    text-align: center;
    padding: 5px;
}

#amazonBanner>p {
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
}


/**/

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 60px 20px 60px;
}

footer>* {
    font-size: 12px;
}

footer>nav>ul>li {
    margin-right: 20px;
}